<h2>Log In Here!</h2>

<form action="/login" method="POST">
    <label>Username: </label>
    <input type="text" name="user_name"/><br/>
    <label>Password: </label>
    <input type="password" name="password"/><br/> 
    <br/>
    <input type="submit" value="Log Me In">
</form>