<div class="container">
  <header>
    <img src="images/pizza-tomatoes-640x480.jpg" class="img-responsive main-image" width=300px height=200px>
    <img src="images/pizza-greens-640x480.jpg" class="img-responsive main-image" width=300px height=200px>
    <img src="images/pizza-calabreza-1326004-639x424.jpg" class="img-responsive main-image" height=200px>
  </header> 
  <div class="col-md-8 col-md-offset-2">
    <h2>Pizza Hub: A Place to Keep Your Favorite Pizzas</h2>

    <div class="content">
      <h3>Welcome to Pizza Hub!<br/></h3>
      <br/>
      <p>To get started, please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a><br/></p>
    </div>
    <h5>Photo Credits:</h5>
    <h6>Photo by <a href="/photographer/Montejorge-46891">André Montejorge</a> from <a href="https://freeimages.com/">FreeImages</a></h6>
    <h6>Photo by <a href="/photographer/ugurv-54873">ugurv</a> from <a href="https://freeimages.com/">FreeImages</a></h6>
    <h6>Photo by <a href="/photographer/vorax-32027">Leonardo Ciannella</a> from <a href="https://freeimages.com/">FreeImages</a></h6>
<!--
    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%#= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%#= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%#= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%#= @env["SERVER_PORT"] %></li>
      </ul>
    </div>
-->
  </div>
</div>

